{% extends 'layouts/base.html' %}
{% block content %}

  

  <div class="content">
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            
              {% if msg %}
                  <span class="text-danger">{{ msg | safe }}</span>
              {% else %}
                  <span>
                     Update Project
                  </span>
              {% endif %}  
          
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
            <div class="modal-body">
            {% csrf_token %}
            <div class="card-body px-5 py-3">

              <div class="row">
                  <div class="col-md-12 px-md-1">
                      <div class="form-group">
                          <label>Project Title</label>
                          {{ form.title }}
                      </div>
                      <span class="text-danger">{{ form.title.errors }}</span>
                  </div>

                  <div class="col-md-12 px-md-1">
                      <div class="form-group">
                          <label>Subject</label>
                          {{ form.subject }}
                      </div>
                      <span class="text-danger">{{ form.subject.errors }}</span>
                  </div>

                  <div class="col-md-12 px-md-1">
                      <div class="form-group">
                          <label class="input-group-text" for="inputGroupFile02">File</label>
                          {{ form.project_file }}
                      </div>
                      <span class="text-danger">{{ form.project_file.errors }}</span>
                  </div>

                  <div class="col-md-12 px-md-1">
                      <div class="form-group">
                          <label>Finish time</label>
                          {{ form.end_at }}
                          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                      </div>
                      <span class="text-danger">{{ form.end_at.errors }}</span>
                  </div>

                  <div class="col-md-12 px-md-1">
                      <div class="form-group">
                          <label>Assigned to </label>
                          {{ form.assigned_to_eleve }}
                      </div>
                      <span class="text-danger">{{ form.assigned_to_eleve.errors }}</span>
                  </div>

                  <div class="col-md-12 px-md-1">
                      <div class="form-group">
                          <label>Matiere</label>
                          {{ form.matiere }}
                      </div>
                      <span class="text-danger">{{ form.matiere.errors }}</span>
                  </div>
                  
              </div>

              
          </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form> 
      </div>
    </div>
  </div>
    <div class="card text-center">
      <div class="card-header">
        {% if project.status == 'in_progress' %}
          <i class="fa fa-hourglass" aria-hidden="true"></i> In progress{% elif project.status == 'submitted' %}
          <i class="fa fa-check" aria-hidden="true"></i> Submitted{% elif project.status == 'evaluated' %}
          <i class="fa fa-check-circle" aria-hidden="true"></i> evaluated
        {% else %}
          <i class="fa fa-question" aria-hidden="true"></i>
        {% endif %}
      </div>
      <div class="card-body">
        <h1 class="card-title" style="text-transform: capitalize;text-decoration: underline; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 500%;">{{ project.title }}</h1>
        <p class="card-text">
          Matiere : {{ project.matiere|upper }} <br />
          Eleve : {{ project.assigned_to_eleve }} <br />
          Creer le : {{ project.created_at|date:"D M Y h:i" }} <br>
          <a href="{{ project.project_file.url}}"><i class="fa fa-file" aria-hidden="true"></i> : File</a>

         
          <div class="form-floating my-4">
            <h5 style="font-style: oblique; text-decoration: underline;">Subject</h5>
            <hr />
            {{ project.subject }}
            <hr />
          </div>
        </p>
        
      </div>
      <div class="card-footer text-muted">
        
        <button type="button" class="btn btn-fill btn-secondary mx-3" id="go-back-button"> <i class="fa fa-backward" aria-hidden="true"> Back</i> </button>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Edit
        </button>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascripts %}
<script>
    document.getElementById('go-back-button').addEventListener('click', function() {
        history.back();
    });
</script>


{% endblock javascripts %}
