{% extends 'layouts/base.html' %}
{% block content %}
<div class="content">
  <div class="row">
    {% for project in projects %}



      
      <div class="col-md-4 mb-4">
        
        <div class="card">
          
          <div class="card-body">
            <div class="d-flex">
              <div class="p-2 flex-grow-1"></div>
              <div class="p-2"></div>
              <div class="p-2"><a href="{% url 'detail-teacher' project.id %}"><i class="fa fa-eye" aria-hidden="true"></i></a></div>
            </div>
            <h2 class="card-title">{{ project.title }} <span class="end-0" > </span> </h2>
            <h3 class="card-text">{{ project.subject|escape|linebreaks }}</h3>
            <p class="card-text">
              <small class="text-muted">This project end at </small>{{ project.end_at|date:"d M Y" }}
              
            </p>
            
            <div class="card-footer">
              &nbsp;
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
